.folding-list-item-component {

  min-height: 2rem;
  width: 100%;

  .list-item {
    padding: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
      background-color: whitesmoke;
      transition: background-color 0.5s ease;
    }
  }
}
